.footerFullDiv {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    padding-bottom: 100px;
    background-color: #bd5300;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    margin-top:14vh;
  }
  .aboutDiv {
    width: 250px;
    height: 100%;
    color: white;
    display: flex;
    margin-right: 5px;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 100%;
  }
  .aboutDiv > div{
      margin-bottom: 5px;
  }
  .socialMedia {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3vh;
  }
  .logoDiv {
    background-color: white;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logoDiv > img {
    width: 20px;
  }
  .seals {
    width: 100%;
    margin-top: 5vh;
  }
  .sealsLogoBox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .sealDiv {
    width: 100px;
    height: 40px;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-top: 3vh;
    border-radius: 10px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
  }
  .sealDiv > img{
      width: 99px;
  }
  .midDiv {
      margin-top: 5px;
    width: 200px;
    color: white;
    display: flex;
    flex-direction: column;
  }
  .midSub > p{
      font-size: 15px;
  }
  
  .form {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
  }
  .form > form > input , textarea , button{
      margin-top: 5px;
      width: 90%;
      margin-bottom: 5px;
      padding: 5px;
      border-radius: 4px;
      outline: none;
      border: none;
  }
  .form > form > button{
      background-color: #4b9c0c;
      color: white;
      height: 6vh;
      font-weight: bold;
  }
  .smallpara{
    font-size: 22px;
  }
  #submitbtn{
   
  }